export EDITOR=nvim
export PS1='%~ %# '

alias sl='ls'

# sheldon
eval "$(sheldon source)"

# p10k
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

{{ if eq .chezmoi.os "linux" }}
# xmodmap キーバインド
xmodmap ~/.Xmodmap
{{ end }}

# node(volta)
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

# Rust
. "$HOME/.cargo/env"

. "$HOME/.local/bin/env"
