#!/bin/sh

if [ "$(uname)" = "Linux" ]; then
  curl -fL 'https://raw.githubusercontent.com/github/gitignore/master/Global/Linux.gitignore' >> ~/.gitignore
  sh -c "$(curl -fsLS https://chezmoi.io/get)" -- -b ~/.local/bin
fi

if [ "$(uname)" = "Darwin" ]; then
  curl -fL 'https://raw.githubusercontent.com/github/gitignore/master/Global/macOS.gitignore' >> ~/.gitignore

  xcode-select --install

  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  brew doctor
  brew install chezmoi
fi
